.git
.gitignore
.env
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*.log
.DS_Store
.idea/
.vscode/
.pytest_cache/
uploads/*
!uploads/.gitkeep
instance/
node_modules/
venv/
.python-version
docker-compose*.yml
Dockerfile*
README.md