# Face detection dependencies
opencv-python==4.8.1.78
scikit-learn==1.3.2
onnxruntime-gpu==1.19.2 --extra-index-url https://aiinfra.pkgs.visualstudio.com/PublicPackages/_packaging/onnxruntime-cuda-11/pypi/simple/
nvidia-cudnn-cu12
tqdm==4.66.1
requests==2.31.0
psutil==5.9.8